
  <header>

  </header>

<main>
  <h2 class = "titleposition">List of Contacts</h2>
    <ul class = "listcontact">
  
      <% $rolodex.contacts.each do |contact| %>
    
        <li>
           <div class = "listinfo">
                Name:
           </div> 
               <%= contact.first_name %>
        </li>

        <li>
          <div class = "listinfo">
              Last Name:
          </div> 
               <%= contact.last_name %>
        </li>

        <li>
          <div class = "listinfo">
               Email:
          </div> 
               <%= contact.email %>
        </li>

        <li>
          <div class = "listinfo">
              Note:
          </div> 
              <%= contact.note %>
        </li>
        <br>
      <% end %>         
        
      
    </ul>
</main>