<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>

  <meta title="og:title" content="Bitmaker Labs // HTML CSS intro">
<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

	<nav>
		<div class="nav">
		    <div class="container">
		      <div class b= "row">
				 <div class="col-md-4">
		  		 </div>
		 	  </div>
			     	 <div class = "col-md-4">
			         </div>
			         <div class = "col-md-4">
			         </div>
		      		<div class = "navtitles">
						<ul class = "pull-left">
				          <li><a href = "contacts/new">Add a contact</a></li>
				          <li><a href="">Modify a contact</a></li>
				          <li><a href="contacts">View all contacts</a></li>
				          <li><a href="">View a contact</a></li>
				          <li><a href="">Delete a contact</a></li>
				          <li><a href="">Display an attribute</a></li>
			        	</ul>
				    </div>	
		    </div>
		</div>
	</nav>

    <div class="jumbotron">
      <div class="container">
        <h1>My CRM App</h1>
      </div>
    </div>



	<br><br>
  
  <%= yield %>

<!-- 	<div class="nav">
      <div class="container">
      <div class b= "row">
 -->
 
 
      

<!--            </div>
      </div>
    </div>
 -->

  <footer class = "footer">
    <p>Bitmaker Labs &copy;2015</p>
    <a href = "/">Back to Main Menu</a>
  </footer>
</body>
</html>
