	<main>
	<h2 class = "titleposition">New Contact</h2>

	<form action="/contacts" method ="post">

		<h3 class = "addcontact-desc">Please Enter Your First Name<br>
			<input type="text" name="first_name" class = "newpadding">
		</h3><br>

		<h3 class = "addcontact-desc">Please Enter Your Last Name<br>
			<input type="text" name="last_name" class = "newpadding">
		</h3><br>
		
		<h3 class = "addcontact-desc">Please Enter Your Email<br>
			<input type="text" name="email" class = "newpadding">
		</h3><br>

		<h3 class = "addcontact-desc">Please Enter Your Notes<br>
			<input type="text" name="note" class = "newpadding">
		</h3><br>

			<div id = "submit-contact">
			<input type ="submit" class = "submit-button">
			</div>
	</form>
	</main>